<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Gas Station</title>
</head>
<body class="body_2">
    
    <form action="/auth/login" method="POST">
        <h1>Log in</h1>
        <img src="/profile2.png" alt="Avatar" class="avatar"><br>
        <label for="fname">Username</label><br>
        <input type="text" placeholder="Enter Username" name="uname" required><br>
        <label for="lname">Password</label><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br>
        <button type="submit" class="log_button">Log in</button><br>

        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        

    </form>


</body>
</html>
