<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>



<body>
    
<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='box'>
        <p class="pumpLablel">fuel A</p>  
        <div class="pumpA" id="pumpA" ></div>   
        <button type="button" class="refiller" onclick="refiller()">refill pump</button>
      </div>
    </div>
    <div class='column'>
      <div class='box'>
        <p class="pumpLablel">fuel B</p>     
        <div class="pumpB" id="pumpB"></div>

        <button type="button" class="refiller" onclick="refiller2()">refill pump</button>
      </div>
    </div>
  </div>



<script>
  function refiller(){
    console.log()
    let temp= document.getElementById("pumpA")
    temp.classList.remove("pumpA");
    temp.classList.add("refill");

  }
  function refiller2(){
    console.log()
    let temp= document.getElementById("pumpB")
    temp.classList.remove("pumpB");
    temp.classList.add("refill");

  }
</script>




</div>
</body>
</html>