    <script src="/main.js"></script>
{{!-- <form method="GET"> --}}
    <div class="row">
        <div class="col mt-3">
                    <h3><a href="/">Οι εργασίες μου</a></h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="item">Προσθήκη εργασίας:</label>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <input type="text" name="taskName" id="item" class="input-lg">
        </div>
        <div class="col">
            <button id="add-task-button">Νέα εργασία</button>
        </div>
    </div>

    <div class="row ">
        <div class="col mt-3">
            <ul class="list-group">
            </ul>
        </div>
    </div>
{{!-- </form> --}}